# ------ MSVC files -------

*.vcxproj
*vcxproj.*
*.sln
*.pyproj

# ------ IDE config folders files -------
.idea/
.vscode/
.vs/

# ------ Files and binaries -------
*.exe
*.tlog


# ------ Debug and Release build folders -------
Debug/
Release/

# ------ Python -------
*/env/
env/
dist/
*/__pycache__/
/__pycache__/
__pycache__/
build/
**.egg-info/


# ------ Concrete files -------
setup_rle_old.py
direct_url.json