# Several build files are included in order to make it available to anyone that wants to build the project


# ------ MSVC files -------

# *.vcxproj    <---- Any vcxproj are included 
# *vcxproj.*
*.sln

# ------ IDE config folders files -------
.idea/
.vscode/
.vs/

# ------ Files and binaries -------
*.exe
*.tlog


# ------ Debug and Release build folders -------
Debug/
# x64  <------ Included

# ------ Python -------
# */env/    <---------- Included
*/__pycache__/
/__pycache__/
__pycache__/
/build/
/Rumble_LoL_Extension.egg-info/


# ------ Concrete files -------
setup_rle_old.py