# Several build files are included in order to make it available to anyone that wants to build the project

probas.txt
setup_no_dyn.py


# ------ MSVC files -------

*.vcxproj
*vcxproj.*
*.sln
*.pyproj

# ------ IDE config folders files -------
.idea/
.vscode/
.vs/

# ------ Files and binaries -------
*.exe
*.tlog


# ------ Debug and Release build folders -------
Debug/
# x64  <------ Included

# ------ Python -------
linux_venv/
*/env/
env/
dist/
*/__pycache__/
/__pycache__/
__pycache__/
build/
rumble_league_extension.egg-info/


# ------ Concrete files -------
setup_rle_old.py
direct_url.json